body {
  background-color: #E0E0E0;
  color: #646464;
  font-family: Roboto, sans-serif;
  line-height: 20px; }

a {
  text-decoration: none;
  color: #263238; }
  a:hover {
    text-decoration: underline; }

.first {
  list-style: none; }

.page-container {
  position: absolute;
  background-color: #fff;
  margin: 0px auto 0px auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  max-width: 1100px; }

.res-head {
  background-color: #fff;
  padding: 40px;
  display: inline-flex;
  border-radius: 15px 15px 0px 0px; }
  .res-head .circle-image {
    background-color: #E0E0E0;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-image: url("../res/jon.jpg");
    background-position: center -40px;
    background-repeat: no-repeat;
    background-size: 140%; }
  .res-head .head-text {
    padding-left: 20px; }
    .res-head .head-text h1 {
      font-weight: normal;
      margin: 18px 0px 12px 0px; }
    .res-head .head-text p {
      color: #646464;
      margin: 5px 5px 20px 5px;
      font-size: 14px; }

.res-neck {
  background-color: #263238;
  padding: 10px;
  color: rgba(255, 255, 255, 0.7); }
  .res-neck .res-contact {
    line-height: 14px; }
    .res-neck .res-contact .contact {
      display: inline-flex;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.7);
      margin-left: auto;
      margin-right: auto; }
      .res-neck .res-contact .contact .contact-icon {
        width: 15px;
        margin: 0px 15px 0px 15px;
        background-repeat: no-repeat; }
      .res-neck .res-contact .contact #phone {
        background-image: url("../res/phone.png");
        background-position: center;
        background-size: contain; }
      .res-neck .res-contact .contact #email {
        background-image: url("../res/email.png");
        background-position: center;
        background-size: contain; }
      .res-neck .res-contact .contact #handshake {
        background-image: url("../res/handshake.png");
        background-position: center;
        background-size: contain;
        filter: brightness(0) invert(1); }
      .res-neck .res-contact .contact #linkedin {
        background-image: url("../res/linkedin.png");
        background-position: center;
        background-size: contain;
        filter: invert(1); }

.res-body {
  background-color: #fff;
  padding: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 0px 0px 15px 15px; }
  .res-body h3 {
    font-weight: normal;
    color: #646464;
    font-weight: bolder; }
  .res-body p {
    color: #646464;
    font-size: 12px; }
  .res-body .body-container {
    padding: 30px; }
  .res-body .res-ex p {
    margin: 0px; }
  .res-body .res-ex h2 {
    font-size: 20px;
    margin-top: 30px;
    color: #263238;
    line-height: normal; }
  .res-body .res-ex span {
    font-weight: lighter;
    color: #646464; }
  .res-body .res-sum a {
    color: #646464;
    font-size: 12px; }
  .res-body .res-sum p {
    font-size: 12px; }
  .res-body .res-sum li {
    font-size: 12px;
    color: #646464; }
  .res-body .res-sum .project {
    display: inline-flex;
    font-size: 12px;
    font-weight: bold;
    color: #646464;
    padding-top: 10px; }
    .res-body .res-sum .project #fav1 {
      background-image: url("../res/depaul.png");
      background-repeat: no-repeat;
      background-size: 150%;
      background-position: center;
      filter: brightness(0); }
    .res-body .res-sum .project #fav2 {
      background-image: url("../res/a-icon.svg");
      background-repeat: no-repeat;
      background-size: 150%;
      background-position: center; }
    .res-body .res-sum .project #fav3 {
      background-image: url("../res/smash.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      filter: brightness(0); }
    .res-body .res-sum .project #fav4 {
      background-image: url("../res/chess.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      filter: brightness(0); }
    .res-body .res-sum .project #fav5 {
      background-image: url("../res/d.svg");
      background-repeat: no-repeat;
      background-size: 120%;
      background-position: center;
      filter: brightness(0); }
  .res-body .res-sum .favicon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    opacity: 0.5; }
  .res-body .res-sum span {
    background-color: #263238;
    color: white;
    font-size: 12px;
    padding: 5px;
    line-height: 28px;
    border-radius: 5px; }
    .res-body .res-sum span span {
      padding: 0px;
      color: #263238; }

/*# sourceMappingURL=compiled-styles.css.map */
